<div class="form-container">
    <form [formGroup]="projectForm" (ngSubmit)="submitForm()">
      
      <label for="name">Nome</label>
      <input id="name" formControlName="nome" type="text" placeholder="Digite seu nome">

      <label for="email">E-mail</label>
      <input id="email" formControlName="email" type="email" placeholder="seuemail@email.com">
  
      <label for="githubLink">Link do Seu GitHub</label>
      <input id="githubLink" formControlName="githubLink" type="url" placeholder="https://github.com/seu-repo">
  
      <label for="title">Título</label>
      <input id="title" formControlName="titulo" type="text" placeholder="Título do projeto">
  
      <label for="description">Descrição do Site/Ferramenta</label>
      <textarea id="description" formControlName="descricao" placeholder="Descreva o projeto"></textarea>
  
      <label for="siteLink">Link do Site</label>
      <input id="siteLink" formControlName="linkSite" type="url" placeholder="https://meusite.com">
  
      <label for="stack">Classificação do Site</label>
      <select id="stack" formControlName="stack">

        <option value="" disabled selected>Selecione uma opção</option>
        <option *ngFor="let stack of stackOptions" [value]="stack">{{ stack }}</option>
      </select>
  
      <button type="submit" [disabled]="!projectForm.valid">Enviar</button>
    </form>
  </div>
  