.page-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  
  
  h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    
  }
  
  p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1% ;
  }
}

